.listing-card{
    border-radius: 4px;
    border: 1px solid var(--color-primary);
    padding: 10px;
}

.listing-card p{
    color: var(--color-font-primary);
    font-size: 12px;
}

.listing-card h2{
    color: var(--color-font-secondary);
    font-size: 16px;
}